.post-content figure img {
  display: block;
  margin: auto;
  width: 70%;
}

.post-content figure.portrait img {
  width: 50%;
}

.post-content figure figcaption {
    text-align: center;
}

figure.entry-cover img {
  display: block;
  margin: auto;
  width: 70%;
}

.first-entry {
  min-height: 0;
  margin-bottom: 0;
  margin-top: 50px;
}

.first-entry .entry-footer {
  font-size: 14px;
  height: 0;
}
