---
---

@import "{{ site.theme }}";

img {
  display: block;
  margin: auto;
  max-width: 70%;
}

center {
  font-size: smaller;
  margin-bottom: 20px;
  color: #828282;
}

div.photo img {
  max-height: 400px;
  object-fit: contain;
}

p.author {
    font-size: smaller;
}

blockquote {
    font-size: smaller;
    font-style: normal;
}
